
body{
    background-color: rgb(60, 0, 36);
    font-size:24px;
    color: #fff;
}
img{
    position: absolute;
    border-radius: 0px;
    padding: 0px;
    background:none;
}
.mapimg{
    max-width: 50vw;
    max-height: 50vh;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
#map{
    position: relative;
}
#context{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
